body {
  background-color: rgb(245, 245, 220);
  border-right: 2px solid #000;
}

.item {
  display: inline-block;
  width: 30%;
  background-color: #e0e0e0;
  height: 180px;
  overflow: hidden;
}

.scrollContanier {
  height: 75px;
  font-size: 25px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  overflow-y: scroll;
}