body {
  background-color: rgb(245, 245, 220);
  border-right: 2px solid #000;
  height: 100vh;
  overflow: hidden;
}

.item {
  display: inline-block;
  width: 30%;
  border: 1px #ccc;
  background-color: #e0e0e0;
  line-height: 1.5;
  height: 110px;
  overflow: hidden;
}

.scrollContanier {
  height: 75px;
  margin-left: 5px;
  font-size: 25px;
  border-top: 2px solid black;
  padding-top: 10px;
  border-bottom: 2px solid black;
  overflow-y: scroll;
}